
<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">


<footer class="footer">
    <div class="LRUnivLink">
        <a href="https://www.univ-larochelle.fr/">
            La Rochelle Université
        </a>
    </div>
</footer>
