<link rel="stylesheet" href="{{ asset('assets/css/header.css') }}">

<header>
    <div class="header">
        <a href="/" class="logo-smartCampus">
            <div class="logo">
                <img src="{{ asset('assets/img/logo.png') }}" alt="logo" width="50px" height="50px">
            </div>
            <div class="smartCampus">
                Smart Campus
            </div>
        </a>
        <div class="header-right">
            {% if app.user %}
                <a class="active" href="{{ path("app_admin") }}">Plan d'expérimentation</a>
            {% endif %}
            <a class="active" href="{{ path("app_client") }}">Accueil</a>
        </div>
    </div>
</header>
