
<link rel="stylesheet" href="{{ asset('assets/css/header.css') }}">


<header>
    <div class="siteName">
        <a href="/">
            Smart Campus
        </a>
    </div>
    <div class="usefulLinks">
        <a href="/">
            Accueil
        </a>
        <a href="#">
            A propos
        </a>
    </div>
</header>

